{% extends 'base.html' %}
{% load static %}


{% block header %}

<header class="product-head-favorite header-container-favorite">
    <img src="{% static 'img/image-favoris.jpg' %}" alt="image de fond pour favoris" class="image-fond-favorite">
</header> 

{% endblock %}

{% block content %}

<div class="product-result container">
    <p class="row"><h3>Vois-ci le résultat de vos favoris:</h3></p>
    <div class="row">
        {% for favorite in favorites %}
        <div class="col-md-4 result">
            <div class="result-image-nutriscore">
                <img src="{{ favorite.substitute.image_url }}" width="100" height="100" class="result-image">
                <div class="result-nutriscore result-nutriscore-{{ favorite.substitute.nutrition_grade_fr }}">{{ favorite.substitute.nutrition_grade_fr }}</div>
            </div>
            <p><a class="result-name" href="{% url 'product_info' favorite.substitute.code %}">{{ favorite.substitute.product_name }}</a></p>
        </div>
        {% empty %}
        <p class="col-12">Aucun favoris enregistrées</p>
        {% endfor %}

    </div>
</div>

{% endblock %}