{% extends 'base.html' %}
{% load static %}

{% block header %}

<header class="masthead" style="background-image: none; background-color: #5c4d42;">
    {% block header_content %}
    {% if form.errors %}
        <p style="color: red">Votre nom d’utilisateur et votre mot de passe ne correspondent pas. Veuillez réessayer.</p>
    {% endif %}
    <h2>Connectez-vous à mon site</h2>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}<br>
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                {% if field.help_text %}
                    <p><small style="color: grey">{{ field.help_text }}</small></p>
                {% endif %}
            </p>
        {% endfor %}
        <button type="submit" id="button-submit">Se connecter</button>
        <p><a href="{% url 'signup' %}">Nouveau sur le site? Inscrivez-vous</a></p>
        <p><a id="button-passcode" href="{% url 'password_reset' %}">Mot de passe oublié? Réinitialisez votre mot de passe</a></p>
    </form>
    {% endblock %}
</header>

{% endblock %}
