[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
selenium = "*"
coverage = "*"
tchappui-webdrivers = "*"

[packages]
requests = "*"
Django = "*"
django-heroku = "*"
gunicorn = "*"
django-extensions = "*"

[requires]
python_version = "3.8"
