{% extends 'base.html' %}
{% load static %}

{% block header %}

<header class="product-head-favorite header-container-favorite">
    <img src="{% static 'img/image-favoris.jpg' %}" alt="image de fond pour favoris" class="image-fond-favorite">
</header> 

{% endblock %}

{% block content %}
<div class="container reset-done">
    <p>
    Nous vous avons envoyé par e-mail, des instructions pour définir votre mot de passe,
    si un compte existe avec l’e-mail que vous avez entré.
    Vous devriez le recevoir sous peu.
    </p>
</div>

{% endblock %}