{% extends 'base.html' %}
{% load static %}

{% block title %}Changer de mot de passe{% endblock %}

{% block header %}

<header class="product-head-favorite header-container-favorite">
    <img src="{% static 'img/image-favoris.jpg' %}" alt="image de fond pour favoris" class="image-fond-favorite">
</header> 

{% endblock %}

{% block content %}
<div class="row">
    <aside class="col-sm-4">
    </aside> <!-- col.// -->
    <aside class="col-sm-4">
        <h2>Changer de mot de passe</h2>
        <div class="card">
            {% if validlink %}
            <article class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                    {% endfor %}
                    <button type="submit" id="send_button_confirmed">Envoyer</button>
                </form>
            </article>
            {% else %}
            <article class="card-body">
                <p>
                    Le lien de réinitialisation du mot de passe était invalide, peut-être parce qu’il a déjà
                    été utilisé.
                    Veuillez demander une nouvelle réinitialisation du mot de passe.
                </p>
            </article>
            {% endif %}
        </div>
    </aside>
    <aside class="col-sm-4">
    </aside> <!-- col.// -->
</div>
{% endblock %}