{% extends 'base.html' %}
{% load static %}

{% block title %}Réinitialisation du mot de passe terminée{% endblock %}

{% block header %}

<header class="product-head-favorite header-container-favorite">
    <img src="{% static 'img/image-favoris.jpg' %}" alt="image de fond pour favoris" class="image-fond-favorite">
</header> 

<div class="row product-head masthead">
    <aside class="col-sm-4">
    </aside> <!-- col.// -->
    <aside class="col-sm-4">
        <h2>Réinitialisation du mot de passe terminée</h2>
        <div class="card">
            <article class="card-body">
                <p>
                    Votre mot de passe a été défini. Vous pouvez aller de l’avant et Vous
                    <a href="{% url 'login' %}">Connectez</a> à nouveau.
                </p>
            </article>
        </div>
    </aside>
    <aside class="col-sm-4">
    </aside> <!-- col.// -->
</div>
{% endblock %}
