header.product-header-page {
    @extend .masthead;
    overflow: hidden;
    padding: 0;

    .product-image {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center center;
        text-align: center;
    }
}

header.product-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 300px;

    .product-image {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center center;
        text-align: center;
        position: absolute;
    }
}

header.product-head-favorite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 300px;
}

.result-image-nutriscore {
    width: 100px;
    height: 100px;
    position: relative;
}

.result {
    padding: 20px;
}

.result-nutriscore-a {
    background-color: #038141;
}

.result-nutriscore-b {
    background-color: #85bb2f;
}

.result-nutriscore-c {
    background-color: #fecb02;
}

.result-nutriscore-d {
    background-color: #ee8100;
}

.result-nutriscore-e {
    background-color: #e63e11;
}

.result-nutriscore {
    position: absolute;
    text-transform: uppercase;
    width: 30px;
    height: 30px;
    color: white;
    right: -15px;
    top: -15px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

.header-form {
    display: flex;
    justify-content: center;
}

.header-container {
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.product-head-title {
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 0.5);
    padding: 10px;
}

.product-account-title {
    color: black;
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 1;
    padding-top: 80px;
}

.header-container-favorite {
    color: white;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.container-research {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 600px;
}

img.image-fond {
    position: absolute;
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center center;
}

img.image-fond-favorite {
    position: relative;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center center;
}

content.product-result {

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}

footer {
    height: 100px;
}

body {
    min-height: 100vh;
}

.account-email {
    color: white;
    position: relative;
    margin: auto;
    background-color: rgba($color: #000000, $alpha: 0.5);
    padding: 15px;
    border-top: 20px;
    text-align: center;
    width: max-content;
}